h1 {
    font-size: 140px;
    text-align: center;
    
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal ;

}
p {
   font-size: 20px;
    text-align: center;
}

.errorText {
    font-size: 20px;
    text-align: center;
    color: red;
}

.startButton{
  border-radius: 12px;
  background-color: rgb(235, 93, 235); /* Green */
  border: 2px solid black;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Courier New';
  padding: 12px;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .body1 {
    background-image: linear-gradient(to bottom, rgba(253, 25, 166, 0.151), rgba(255, 237, 72, 0.705));
    font-family:'Courier New';
    font-weight: bold;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
